<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.spinorama.sotf-daemon</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/sotf-systemwide.app/Contents/Helpers/sotf-daemon</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
	</array>
	<key>StandardOutPath</key>
	<string>__SOTF_LOG_DIR__/sotf-daemon.log</string>
	<key>StandardErrorPath</key>
	<string>__SOTF_LOG_DIR__/sotf-daemon.log</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>RUST_LOG</key>
		<string>info</string>
	</dict>
</dict>
</plist>
